# Arbre de décision : Prédire le salaire en fonction du poste, de l'entreprise et du diplôme

In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [4]:
#working with the dataset here

col_names = ['company', 'job', 'degree', 'salary_more_than_100K']
data = pd.read_csv ('C:/DataProjets/ProjetData1/data/salaries.csv', header=None, names=col_names)#load dataset

In [5]:
data

       company                  job      degree  salary_more_than_100K
0      company                  job      degree  salary_more_then_100k
1       google        sale exective  bachelaors                      0
2       google        sale exective     masters                      0
3       google     business manager  bachelaors                      1
4       google     business manager     masters                      1
5       google  computer programmer  bachelaors                      0
6       google  computer programmer     masters                      1
7   abc pharma        sale exective     masters                      0
8   abc pharma  computer programmer  bachelaors                      0
9   abc pharma     business manager  bachelaors                      0
10  abc pharma     business manager     masters                      1
11    facebook        sale exective  bachelaors                      1
12    facebook        sale exective     masters                      1
13    facebook     business manager  bachelaors                      1
14    facebook     business manager     masters                      1
15    facebook  computer programmer  bachelaors                      1
16    facebook  computer programmer     masters                      1

In [ ]:
#split the dataset in features and target variable
feature_cols = ['company', 'job', 'degree']#caractéristiques
x = data[feature_cols]#variables indépendantes
y = data['salary_more_than_100K']#variables cibles

## Le Machine Learning ne fonctionne qu'avec des données numériques, nous devons donc convertir

In [6]:
#Import label encoder
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()# LabelEncoder est utilisé pour convertir des étiquettes textuelles en valeurs numériques
data['company'] = label_encoder.fit_transform(data['company'])
data['job'] = label_encoder.fit_transform(data['job'])
data['degree'] = label_encoder.fit_transform(data['degree'])
print(data.head())

   company  job  degree  salary_more_than_100K
0        1    2       1  salary_more_then_100k
1        3    3       0                      0
2        3    3       2                      0
3        3    0       0                      1
4        3    0       2                      1

In [7]:
#split the dataset in features and target variable
feature_cols = ['company', 'job', 'degree']
x = data[feature_cols]
y = data['salary_more_than_100K']
#x= = data.values[1:,:3]
#y = data.values[1:, 3] #1:, 3 one means we are not using the header
print(x)
print(y)

    company  job  degree
0         1    2       1
1         3    3       0
2         3    3       2
3         3    0       0
4         3    0       2
5         3    1       0
6         3    1       2
7         0    3       2
8         0    1       0
9         0    0       0
10        0    0       2
11        2    3       0
12        2    3       2
13        2    0       0
14        2    0       2
15        2    1       0
16        2    1       2
0     salary_more_then_100k
1                         0
2                         0
3                         1
4                         1
5                         0
6                         1
7                         0
8                         0
9                         0
10                        1
11                        1
12                        1
13                        1
14                        1
15                        1
16                        1
Name: salary_more_than_100K, dtype: object

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=100)

## Prédiction et précision de résultat

In [16]:
#Create Decision Tree Classifier object using entropy
clf_entropy = DecisionTreeClassifier(criterion='entropy', max_depth=8)# 'max_depth=8' limits maximum tree depth to 8 levels

#Train Decision Tree Classifier
clf_entropy = clf_entropy.fit(x_train, y_train)

In [17]:
#Predict the response for test dataset
y_pred = clf_entropy.predict(x_test)

print("Accuracy", metrics.accuracy_score(y_test,y_pred))
# 'metrics.accuracy_score' compare les prédictions (y_pred) aux vraies étiquettes (y_test)
# Le résultat est un score entre 0 et 1, où 1 indique une précision parfaite

Accuracy 0.75

In [19]:
#75%  de réussite seulement pour notre modèle